@charset "UTF-8";

/**
 * layui-card 组件样式【复写】
 * ----------------------------------------------------------------------------
 */
.layui-card .layui-card-title{
	display:inline-block;
}

.layui-card .layui-card-tools{
	float: right;
}


/**
 * 管理页面通用样式定义
 * ----------------------------------------------------------------------------
 */
.manage-page{
	min-height:300px;
	overflow-y:auto;
}
.manage-page.layui-fluid{
	padding: 0px!important;
}

.manage-page .layui-elem-quote{
	background-color: transparent;
	margin-top: 10px;
}

 .form-page {
 	margin-top: 10px;
 	margin-right: 10px
 }
 .detail-page{
 	margin-top: 10px;
 	margin-right: 10px
 }



/**
 * 模板管理
 * ----------------------------------------------------------------------------
 */
.manage-templ .templ-tree li span.button.add{
	position: absolute;
	right:75px;
}
.manage-templ .templ-tree li span.button.upload{
	position: absolute;
	right:58px;
}
.manage-templ .templ-tree li span.button.root.add{
	position: absolute;
	right:39px;
}
.manage-templ .templ-tree li span.button.root.upload{
	position: absolute;
	right:22px;
}
.manage-templ .templ-tree li span.button.download {
	position: absolute;
	right:5px;
}
.manage-templ .templ-tree li span.button.edit{
	position: absolute;
	right:39px;
}
.manage-templ .templ-tree li span.button.remove{
	position: absolute;
	right:20px;
}
.manage-templ .templ-tree li span.button.edit{
	position: absolute;
	right:39px;
}
.manage-templ .templ-tree li span.button.remove{
	position: absolute;
	right:20px;
}
.manage-templ .templ-tree li a{
	width: 100%;
}
.manage-templ .templ-tree li a.curSelectedNode{
	width:auto;
}

.manage-templ .editor-themes{
	display: inline-block;
}
.manage-templ .layui-btn-group{
	float: right;
}

.manage-templ .image-editor{
	text-align: center;
	min-height: 400px;
	line-height:400px;
}
.manage-templ .image-editor img{
	border: none;
}


/**
 * 广告位管理
 * ----------------------------------------------------------------------------
 */
.manage-advertise .layui-elem-quote{
 	padding: 0.5px 5px;
 }
.manage-advertise .layui-form-item{
	margin-top:15px;
}
.manage-advertise .layui-input{
	width: 150px;
}


 


/**
 * 下拉框组件样式
 * ----------------------------------------------------------------------------
 */
.layui-combotree .layui-select-title span {
    line-height: 38px;
}
.layui-combotree dl dd:hover {
    background-color: inherit;
}


